:root {
    --primary-red: #d32f2f;
    --gold: #ffd700;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #1a0a0a;
    font-family: 'Arial', sans-serif;
}

#app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#petal-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
    filter: blur(0.5px);
}

#scene {
    transition: transform 1.5s cubic-bezier(0.65, 0, 0.35, 1);
    height: 200vh;
}

.peach-tree-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#peach-tree {
    max-height: 90%;
    width: auto;
    position: relative;
    top: 52px
}

.decoration-item {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    transition: filter 0.3s;
}

.decoration-item:hover {
    filter: brightness(1.3) drop-shadow(0 0 10px gold);
}

/* Vùng chạm bao lì xì */
.envelope {
    position: absolute;
    transform: translate(-50%, -50%); 
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s;
}

.envelope:hover {
    background: rgba(255, 215, 0, 0.2);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    border-radius: 5px;
}

/* pháo hoa dưới gốc */
.firework-jars {
    position: absolute;
    bottom: 13%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 20;
}

.jar {
    width: 35px;
    height: 75px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0); 
    transition: all 0.2s;
}

.jar:hover {
    background: rgba(255, 215, 0, 0.2);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
}

/* lời chúc */
#wish-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

#wish-modal.active {
    opacity: 1;
    pointer-events: auto;
}

.envelope-zoom {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 80%;
    border: 5px solid var(--gold);
}

#wish-text {
    font-size: 1.5rem;
    color: var(--primary-red);
    margin: 20px 0;
    font-weight: bold;
}